body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

#calculator {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mode-toggle {
    text-align: center;
}

#calculator-screen {
    margin-bottom: 20px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

#history {
    margin-top: 20px;
}

#history-list {
    list-style-type: none;
    padding: 0;
}

button:active {
    background-color: #0eef1d;
}

button:focus {
    outline: none;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode #calculator {
    background-color: #444;
}

.dark-mode button {
    background-color: #555;
}

.dark-mode button:hover {
    background-color: #666;
}

.dark-mode button:active {
    background-color: #0eed49;
}

.dark-mode #history {
    background-color: #555;
}
